[Desktop Entry]
Name=Cute Light Text Previewer
Comment=Loads, and translates file.
Comment[ja]=ファイルを読み込み、翻訳します。
Exec=text-previewer %f
Icon=system-search
MimeType=text/plain;text/x-chdr;text/x-c++src;text/markdown;application/javascript;text/html;
Categories=Utility;
Terminal=false
Type=Application
